*.lo
*.la
*.o
*.libs
*.deps
*.dirstamp
.DS_Store
*.log
*.dSYM
*.trs
api/*.log
api/bindings
api/buddycr
api/err_any
api/err_handler
api/err_insulation
api/err_returns
api/getack
api/init_errh_info
api/revoke
api/revshrink
api/revshrinkkill
api/revshrinkkillrecover


