*.lo
*.la
*.o
*.libs
*.deps
*.dirstamp
.DS_Store
*.log
*.dSYM
*.trs
api/*.log
api/bindings
api/buddycr
api/err_any
api/err_handler
api/err_insulation
api/err_returns
api/err_returnsf
api/getack
api/init_errh_info
api/revoke
api/revshrink
api/revshrinkkill
api/revshrinkkillrecover
api/shrink
tutorial/00.noft
tutorial/01.err_returns
tutorial/02.err_handler
tutorial/03.undisturbed
tutorial/04.if_error
tutorial/05.err_coll
tutorial/06.err_comm_dup
tutorial/07.err_comm_grid2d
tutorial/08.2.err_iany_src
tutorial/08.3.err_any_src
tutorial/08.3.err_any_src.c
tutorial/08.err_any_src
tutorial/09.err_insulation
tutorial/10.respawn
tutorial/11.respawn_reorder
tutorial/12.buddycr
tutorial/13.transactions
tutorial/q01.err_returns
tutorial/q02.err_handler
tutorial/q02.err_handler.hint1
tutorial/q04.if_error
tutorial/q06.err_comm_dup
tutorial/q07.err_comm_grid2d
tutorial/q08.err_any_src
benchmarks/benchagree
benchmarks/benchdetect_barrier
benchmarks/benchdetect_recvany
benchmarks/benchiagree
benchmarks/benchishrink
benchmarks/benchrespawn
benchmarks/benchrevoke
benchmarks/benchshrink
benchmarks/daemon_benchdetect_barrier


